*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

#jsExtensionEmbedder {
  display: none !important;
}

@font-face {
    font-family: "symphony";
    src: url('/Fonts/symphony-pro-regular.woff2') format('woff2');
}

@font-face {
    font-family: "parmigiano";
    src: url('/Fonts/Parmigiano.woff') format('woff');
}

/* Fallback */

.fallback{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fallback img{
    height: 250px;
    width: 250px;
}

/* Entry */

.entry{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bsd{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #646334;
    font-size: x-large;
}

.photo-entry{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.entry-logo{
    height: 150px;
    width: 150px;
}

/* Countdown */

.countdown{
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.time{
    height: 85px;
    width: 85px;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #F6E8C8;
    color: #E1A94E;
}

.time p{
    font-family: "Lora", sans-serif;
    height: fit-content;
}

.time span{
    height: fit-content;
    font-family : 'symphony';
    font-size: x-large;
}

.entry-link{
    height: fit-content;
    text-decoration: none;
    color: #fff;
    font-size: x-large;
    text-align: center;
}


/* Home */

.home{
    background-color: #EEEBE4;
    height: fit-content;
    width: 100%;
    padding-top: 40px;
}

/* Home Entry */

.home-entry{
    width: 85%;
    height: 80vh;
    margin: auto;
    margin-bottom: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-home-entry{
    height: 180px;
    width: 180px;
}

/* Houppa */

.houppa{
    width: 85%;
    height: fit-content;
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #857667;
}

.houppa-title{
    text-align: center;
    font-family: 'symphony';
    height: fit-content;
    font-size: xx-large;
    padding-top: 20px;
    margin-bottom: 20px;
}

.houppa-logo{
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

.parents-names{
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'symphony';
    margin: 30px auto auto auto;
}

.parents-fille, .parents-garcon{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: small;
}

.parents-fille{
    text-align: left;
}

.parents-garcon{
    text-align: right;
}

.houppa-text{
    height: fit-content;
    width: 80%;
    margin: auto;
    font-family: 'Lora', sans-serif;
    text-align: center;
    font-size: small;
    margin-top: 30px;
}

.houppa-names{
    height: fit-content;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.houppa-and{
    font-family: "Lora", sans-serif;
    width: fit-content;
}

.names-fille{
    height: fit-content;
}

.fille-fr, .garcon-fr{
    font-family: 'symphony';
    font-size: 60px;
    height: fit-content;
}

.fille-hb, .garcon-hb{
    height: fit-content;
    font-family: 'parmigiano';
    transform: translateY(-25px);
}

.houppa-endroit, .houppa-date{
    height: fit-content;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: small;
    margin-top: 30px;
    font-weight: bold;
    font-family: "Lora", sans-serif;
}

.pensee{
    font-family: 'symphony';
    width: 80%;
    font-size: large;
    font-style: italic;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    height: fit-content;
}