*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

#jsExtensionEmbedder {
  display: none !important;
}

@font-face {
    font-family: "symphony";
    src: url('/Fonts/symphony-pro-regular.woff2') format('woff2');
}

@font-face {
    font-family: "parmigiano";
    src: url('/Fonts/Parmigiano.woff') format('woff');
}

/* Fallback */

.fallback{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fallback img{
    height: 250px;
    width: 250px;
}

/* Too Big */

.too-big{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEBE4;
}

.too-big img{
    width: 250px;
    height: 250px;
}

.too-big p{
    height: fit-content;
    text-align: center;
    font-family: "Lora", sans-serif;
    color: #857667;
}

/* Musique */

.musique button{
    height: 40px;
    width: 40px;
    border: solid  #857667 2px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 100;
    background-color: transparent;
    padding: 5px;
}

.musique svg{
    padding: 0;
    margin: 0;
}

/* Waze */

.waze-link, .save-the-date-link{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

/* Entry */

.entry{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bsd{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #646334;
    font-size: x-large;
}

.photo-entry{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    object-fit: cover;
}

.entry-logo{
    height: 150px;
    width: 150px;
}

/* Countdown */

.countdown{
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.time{
    height: 85px;
    width: 85px;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #F6E8C8;
    color: #E1A94E;
}

.time p{
    font-family: "Lora", sans-serif;
    height: fit-content;
}

.time span{
    height: fit-content;
    font-family : 'symphony';
    font-size: x-large;
}

.entry-link{
    height: fit-content;
    text-decoration: none;
    color: #fff;
    font-size: x-large;
    text-align: center;
}


/* Home */

.home{
    background-color: #EEEBE4;
    height: fit-content;
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
}

/* Home Entry */

.home-entry-container{
    height: fit-content;
    width: 85%;
    margin: auto;
    position: relative;
}

.home-entry{
    width: 100%;
    height: 80vh;
    margin: auto;
    margin-bottom: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.fleurs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.logo-home-entry{
    height: 180px;
    width: 180px;
}

.fleur-1{
    position: absolute;
    top: -40px;
    left: -80px;
    height: 150px;
    width: 150px;
    z-index: 3;
}

.fleur-2{
    position: absolute;
    top: -70px;
    left: 25%;
    height: 100px;
    width: 100px;
    z-index: 2;
}

.fleur-3{
    position: absolute;
    top: -240px;
    right: -80px;
    height: 350px;
    width: 180px;
    z-index: 1;
    rotate: 20deg;
    z-index: 3;
}

.fleur-4{
    position: absolute;
    top: 25%;
    right: -60px;
    height: 120px;
    width: 120px;
    rotate: 180deg;
    z-index: 3;
}

.fleur-5{
    position: absolute;
    bottom: 30%;
    right: -60px;
    height: 100px;
    width: 100px;
    z-index: 4;
}

.fleur-6{
    position: absolute;
    bottom: 5%;
    right: -80px;
    height: 150px;
    width: 150px;
    z-index: 3;
}

.fleur-7{
    position: absolute;
    bottom: -210px;
    left: -100px;
    height: 350px;
    width: 180px;
    z-index: 2;
    rotate: 200deg;
    z-index: 3;
}

.fleur-8{
    position: absolute;
    bottom: 25%;
    left: -110px;
    height: 150px;
    width: 150px;
    z-index: 3;
}

.fleur-9{
    position: absolute;
    top: 25%;
    left: -40px;
    height: 100px;
    width: 100px;
    z-index: 3;
}

/* Houppa */

/* Fleurs-houppa */

.houppa-container, .chabat-container, .response-container{
    height: fit-content;
    width: 85%;
    margin: auto;
    position: relative;
}

.fleurs-houppa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fleur-houppa-1{
    position: absolute;
    top: -30px;
    left: -100px;
    height: 150px;
    width: 150px;
    z-index: 3;
}

.fleur-houppa-2{
    position: absolute;
    top: -50px;
    left: 30%;
    height: 100px;
    width: 100px;
    z-index: 2;
}

.fleur-houppa-3{
    position: absolute;
    top: -250px;
    right: -110px;
    height: 350px;
    width: 180px;
    z-index: 2;
    rotate: 20deg;
}

.fleur-houppa-4{
    position: absolute;
    top: 35%;
    right: -80px;
    height: 120px;
    width: 120px;
    rotate: 180deg;
    z-index: 3;
}

.fleur-houppa-5{
    position: absolute;
    top: 45%;
    right: -80px;
    height: 100px;
    width: 100px;
    rotate: 180deg;
    z-index: 2;
}

.fleur-houppa-6{
    position: absolute;
    top: 35%;
    right: -110px;
    height: 350px;
    width: 180px;
    z-index: 2;
}

.fleur-houppa-7{
    position: absolute;
    bottom: -60px;
    right: -100px;
    height: 200px;
    width: 200px;
    z-index: 2;
}

.fleur-houppa-8{
    position: absolute;
    bottom: -60px;
    left: 20%;
    height: 100px;
    width: 100px;
    z-index: 2;
}

.fleur-houppa-9{
    position: absolute;
    bottom: -25%;
    left: -120px;
    height: 350px;
    width: 180px;
    z-index: 2;
    rotate: 200deg;
    z-index: 3;
}

.fleur-houppa-10{
    position: absolute;
    top: 35%;
    left: -60px;
    height: 100px;
    width: 100px;
    z-index: 3;
}

.houppa, .chabat, .response{
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-bottom: 70px;
    padding: 30px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #857667;
    position: relative;
    z-index: 2;
}

.houppa-title, .chabat-title, .response-title{
    text-align: center;
    font-family: 'symphony';
    height: fit-content;
    font-size: xx-large;
    padding-top: 20px;
    margin-bottom: 10px;
}

.houppa-logo, .response-logo{
    height: 50px;
    width: 50px;
}

.parents-names{
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'symphony';
    margin: 30px auto auto auto;
}

.parents-fille, .parents-garcon{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: small;
}

.parents-fille{
    text-align: left;
}

.parents-garcon{
    text-align: right;
}

.houppa-text{
    height: fit-content;
    width: 80%;
    margin: auto;
    font-family: 'Lora', sans-serif;
    text-align: center;
    font-size: small;
    margin-top: 30px;
    font-size: x-small;
    text-transform: uppercase;
}

.houppa-names{
    height: fit-content;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.houppa-and{
    font-family: "Lora", sans-serif;
    width: fit-content;
}

.names-fille{
    height: fit-content;
}

.fille-fr, .garcon-fr{
    font-family: 'symphony';
    font-size: 60px;
    height: fit-content;
}

.fille-hb, .garcon-hb{
    height: fit-content;
    font-family: 'parmigiano';
    transform: translateY(-25px);
}

.houppa-endroit, .houppa-date{
    height: fit-content;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: small;
    margin-top: 30px;
    font-weight: bold;
    font-family: "Lora", sans-serif;
}

.pensee{
    font-family: 'symphony';
    width: 80%;
    font-size: large;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    height: fit-content;
}

/* Chabat */

/* fleurs-chabat */

.fleurs-chabat{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fleur-chabat-1{
    position: absolute;
    top: -30px;
    left: -80px;
    height: 150px;
    width: 150px;
    z-index: 2;
}

.fleur-chabat-2{
    position: absolute;
    top: -70px;
    right: -160px;
    height: 400px;
    width: 180px;
    z-index: 3;
    rotate: 150deg;
}

.fleur-chabat-3{
    position: absolute;
    top: 50px;
    right: -180px;
    height: 400px;
    width: 180px;
    z-index: 3;
    rotate: 150deg;
}

.fleur-chabat-4{
    position: absolute;
    top: 260px;
    right: -100px;
    height: 150px;
    width: 150px;
    z-index: 2;
}

.fleur-chabat-5{
    position: absolute;
    bottom: 15%;
    right: -100px;
    height: 150px;
    width: 150px;
    z-index: 3;
}

.fleur-chabat-6{
    position: absolute;
    bottom: -10%;
    right: -100px;
    height: 150px;
    width: 150px;
    z-index: 2;
    rotate: 180deg;
}

.fleur-chabat-7{
    position: absolute;
    bottom: 10%;
    left: -100px;
    height: 150px;
    width: 150px;
    z-index: 2;
    rotate: 180deg;
}

.fleur-chabat-8{
    position: absolute;
    bottom: 40%;
    left: -100px;
    height: 150px;
    width: 150px;
    z-index: 2;
    rotate: 180deg;
}

.fleur-chabat-9{
    position: absolute;
    bottom: 60%;
    left: -100px;
    height: 150px;
    width: 150px;
    z-index: 3;
    rotate: 180deg;
}

.chabat-logo{
    height: 70px;
    width: 70px;
    margin-bottom: 30px;
}

.chabat-names{
    height: fit-content;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "symphony";
    font-size: 60px;
}

.name-fille-chabat{
    transform: translateY(20px);
}

.and-chabat{
    font-size: medium;
    font-family: 'Lora', sans-serif;
}

.chabat-text{
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    font-size: x-small;
    font-family: 'Lora', sans-serif;
    margin-bottom: 30px;
}

.chabat-date, .chabat-endroit{
    text-align: center;
    font-weight: bold;
    font-size: small;
    margin-bottom: 20px;
}


/* Reponse */

.fleurs-response{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fleur-response-1{
    position: absolute;
    top: -70px;
    left: -80px;
    height: 150px;
    width: 150px;
    z-index: 3;
}

.fleur-response-2{
    position: absolute;
    top: -70px;
    right: -130px;
    height: 350px;
    width: 180px;
    z-index: 3;
    rotate: 140deg;
}

.fleur-response-3{
    position: absolute;
    top: 210px;
    right: -80px;
    height: 120px;
    width: 120px;
    z-index: 2;
}

.fleur-response-4{
    position: absolute;
    bottom: 160px;
    right: -80px;
    height: 120px;
    width: 120px;
    z-index: 3;
}

.fleur-response-5{
    position: absolute;
    bottom: -210px;
    right: -170px;
    height: 350px;
    width: 180px;
    z-index: 3;
    rotate: 140deg;
}

.fleur-response-6{
    position: absolute;
    bottom: -90px;
    left: -80px;
    height: 180px;
    width: 180px;
    z-index: 3;
}

.fleur-response-7{
    position: absolute;
    top: 210px;
    left: -80px;
    height: 120px;
    width: 120px;
    z-index: 2;
}

.fleur-response-8{
    position: absolute;
    bottom: 100px;
    left: -80px;
    height: 120px;
    width: 120px;
    z-index: 2;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

form input::placeholder{
    padding: 10px;
}

input[type="radio"]:checked {
  accent-color: #857667; /* ta couleur personnalisée */
}

input[type="checkbox"]:checked {
  accent-color: #857667;
}

/* Champs texte */
.input-text,
textarea {
    width: 100%;
    height: fit-content;
    padding: 6px 0px;
    border: solid 2px #857667;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;            /* espace interne */
    box-sizing: border-box;
}

textarea{
    border-radius: 30px;
}


/* Label du textarea */
.label-textarea {
    margin-top: 15px;
}

/* Label du nom */
.nom {
    margin-bottom: 15px;
}

/* Boutons radio */
.radio {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 10px;
}

.radio input {
    width: fit-content;
}

.radio p {
    width: max-content;
}

/* Section conditionnelle quand présence === "yes" */
.presence-yes {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    gap: 10px;
    font-family: 'symphony';
    font-size: x-large;
}

/* Checkboxes */
.check {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    gap: 10px;
}

.check input {
    width: fit-content;
}

.check p {
    width: max-content;
}

/* Bouton d'envoi */
form button {
    background-color: transparent;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    font-size: medium;
    font-family: 'Lora', sans-serif;
    color: #857667;
    border: solid 2px #857667;
    margin-top: 10px;
}

/* ETA */

.eta{
    height: fit-content;
    width: 85%;
    background-color: #fff;
    color: #857667;
    padding: 20px 0;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.eta img{
    position: absolute;
    bottom: -50px;
    right: -20px;
    height: 100px;
    width: 100px;
}

.eta-title{
    font-family: 'symphony';
    font-size: xx-large;
}

.eta-text{
    width: 90%;
    font-family: 'Lora', sans-serif;
    font-size: small;
}

.eta-button{
    background-color: transparent;
    width: 50%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    font-size: medium;
    font-family: 'Lora', sans-serif;
    color: #857667;
    border: solid 2px #857667;
    margin-top: 10px;
}


.azmana-link{
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    color: #857667;
    margin-bottom: 30px;
    font-style: italic;
}